.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Header {
  position: absolute;
  left: 15vw;
  top: 10vh;
  font-size: 5vw;
}
.Content {
  position: absolute;
  left: 13vw;
  top: 25vh;
  font-size: 3vh;
  padding: 3vw;
}
.Nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 10vw;
  height: 100vh;
  text-align: left;
  background-color: #61dafb;

  padding: 1vh;
}
.Nav2 {
  background-color: #61dafb;
}
.Item {
  background-color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-wrapper {
  height: 50%;
}

.canvas {
  position: absolute;
}

.content {
  margin-left: 10vw;
}
