@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Header {
  position: absolute;
  left: 15vw;
  top: 10vh;
  font-size: 5vw;
}
.Content {
  position: absolute;
  left: 13vw;
  top: 25vh;
  font-size: 3vh;
  padding: 3vw;
}
/*  */
/*  */
/*  */
/*  */
/*  */

.Nav2 {
  background-color: #61dafb;
}
.Item {
  background-color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-wrapper {
  height: 50%;
}

.canvas {
  position: absolute;
}

.content {
  margin-left: 12vw;
}

.Nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 14vw;
  height: 100vh;
  text-align: left;
  background-color: #7f9dc7;

  padding: 2vh;
}
.Home {
  text-align:center;
  font-size: 100px;
  color: #c9d2e5;
  font-family: 'Tahoma', sans-serif;
  margin: 20px;
  margin-left: 13%;
}
.NavBarFont{
  
  background-color: #7f9dc7;
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 650;
  color: rgb(67, 94, 121);
}
.AboutHeader{
  font-size: 120px;
  margin-left: 670px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  background-color: #3d516e;
  color: #AACAFF;
}



